html, body {
    height: 100%;
    overflow: hidden;
}


.container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


.center {
    background: rgb(190, 190, 190);
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}



/* FOOTER */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font: 11px "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    overflow-y: scroll;
}

ul {
    list-style: none;
    margin: 0px 0px 0px;
}

a {
    text-decoration: none;
}

.generic-anchor {
    color: #8DB9ED;
}

.generic-anchor:visited {
    color: #8DB9ED;
}

.generic-anchor:hover {
    color: #ccc;
}

.flex-rw {
    flex-flow: row wrap;
}


main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 10em "Oswald", sans-serif;
    color: #9b9b9b;
    line-height: 1;
}

footer {
    background: #373737;
    margin-top: auto;
    width: 100%;
    padding-top: 20px;
}


.footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.footer-bottom-section>div:first-child {
    margin-right: auto;
}

.footer-bottom-wrapper {
    font-size: 1em;
    color: #fff;
    text-align: center;
}

.footer-address {
    display: inline;
    font-style: normal;
    text-align: center;
}


.contact-us {
    margin-left: 50%;
    color: #fff;
}


.footer-list-top {
    color: #fff;
    padding: 0px 0px 0px;
}

.footer-list-top li {
    list-style: none;
    text-align: center;
}

.footer-list-top li a {
    color: #fff;
}

.footer-list-top li a:hover {
    color: grey;
}

.stretching {
    padding: 15px;
}